body{
    font-family: '微软雅黑';
    background-color: #efefef;
    padding: 0;
    margin: 0;
}
#logo{
    margin: 50px auto 20px;
    text-align: center;
}
#controlPanel{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
#controlPanel .open{
    text-decoration: none;
    color: #0ba0ff;
}
#controlPanel .panel{
    display: none;
}
#controlPanel textarea{
    font-family: '微软雅黑';
    width: 100%;
    resize: none;
    font-size: 12px;
    margin-top: 20px;
}
#controlPanel button{
    font-family: '微软雅黑';
    font-size: 14px;
    width: 180px;
}
#fkdl{
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
#fkdl a{
    display: inline-block;
    width: 150px;
    border: 1px solid #05adff;
    text-decoration: none;
    padding: 5px 0;
    margin: 0 10px;
    color: #05adff;
    border-radius: 20px;
}
#fkdl a:hover{
    background-color: #05adff;
    color: #fff;
}
h1{
    width: 600px;
    margin: 50px auto;
    text-align: center;
    font-size: 24px;
    color: #333;
}
h2{
    font-size: 18px;
    color: #555;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}
#doc{
    width: 600px;
    margin: 50px auto;
}
#doc p{
    color: #666;
}